<?= $this->render('partial/head', get_defined_vars()); ?>

<h2>Delete <?= $item->name ?></h2>
<p><?=strtr($t['item.delete.confirm'], ['%name%' => '<strong>' . $item->name . '</strong>'])?>?</p>
<form method="post">
    <a href="<?=$r->get('itemShow',[$item->id])?>" class="btn btn-default"><?=$t['back']?></a>
    <button type="submit" class="btn btn-danger"><?=$t['delete']?></button>
</form>

<?= $this->render('partial/foot', get_defined_vars()); ?>
