<?= $this->render('partial/head', get_defined_vars()); ?>

<h2><?=$t['items']?> <a href="<?= $r->get('itemGenerate')?>" class="btn btn-primary btn-sm pull-right"><?=$t['items.generate']?></a></h2>
<p><?= $t['items.demo'] ?></p>
<ul class="nav nav-pills">
    <?php if (count($items)): ?>
        <?php foreach ($items as $item): ?>
            <li class="nav-item">
                <a class="nav-link" href="<?= $r->get('itemShow', [$item->id])?>"><?= $item->name ?></a>
            </li>
        <?php endforeach;?>
    <?php else: ?>
        <li><?=$t['items.empty']?></li>
    <?php endif ?>
</ul>

<?= $this->render('partial/foot', get_defined_vars()); ?>
