<?= $this->render('partial/head', get_defined_vars()); ?>

<h2><?=$t['items.generate']?></h2>
<form method="post" class="form">
    <div class="form-group">
        <label for="number" class="control-label"><?=$t['items.generate.label']?></label>
        <input type="number" name="number" min="1" max="100" value="10" class="form-control">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">OK</button>
    </div>
</form>

<?= $this->render('partial/foot', get_defined_vars()); ?>
