<?= $this->render('partial/head', get_defined_vars()); ?>

<h2><?= $item->name ?></h2>
<dl class="row">
    <dt class="col-2"><?=$t['item.value']?></dt>
    <dd class="col-10"><?= $item->value ?></dd>
    <dt class="col-2">ID</dt>
    <dd class="col-10"><?= $item->id ?></dd>
    <dt class="col-2">foo</dt>
    <dd class="col-10"><?= $foo ?></dd>
</dl>
<p>
    <a href="<?= $r->get('itemList')?>" class="btn btn-secondary"><?=$t['back']?></a>
    <a href="<?= $r->get('itemDelete', [$item->id])?>" class="btn btn-danger"><?=$t['delete']?></a>
</p>

<?= $this->render('partial/foot', get_defined_vars()); ?>
