<?= $this->render('partial/head', get_defined_vars()); ?>

<h2><?= $t['size'] ?></h2>

<table class="table table-bordered table-striped">
    <?php foreach ($sizes['files'] as $name => $size): ?>
        <tr>
            <th><?= $name ?></th>
            <td><?= $size ?> B</td>
        </tr>
    <?php endforeach; ?>
    <tr>
        <th></th>
        <th><?= $sizes['sum'] ?> B</th>
    </tr>
</table>

<?= $this->render('partial/foot', get_defined_vars()); ?>
