</main>
<footer class="container">
    <ul class="list-unstyled">
        <li>&copy; Andrzej Prusinowski</li>
        <li><a href="https://avris.it" target="_blank">Avris.it</a></li>
        <li><a href="https://picco.avris.it" target="_blank">Website</a></li>
        <li><a href="https://mit.avris.it/" target="_blank">MIT</a></li>
        <li><a href="https://gitlab.com/Avris/Picco" target="_blank">Git repo</a></li>
    </ul>
</footer>
</body>
</html>
