<html>
<head>
    <meta charset="utf-8"/>
    <title>Picco - Golfy PHP framework</title>
    <meta name="description" content="Easy to use, extensible PHP microframework in just ~2,5 kB">
    <meta name="keywords" content="PHP,framework,golf,microframework">
    <meta name="author" content="Avris <andrzej@avris.it>">
    <link rel="shortcut icon" href="<?=B?>favicon.ico" />
    <link rel="stylesheet" href="<?=B?>bootstrap.min.css"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@AvrisIT">
    <meta name="twitter:title" content="Picco - Golfy PHP framework">
    <meta name="twitter:description" content="Easy to use, extensible PHP microframework in just ~2,5 kB">
    <meta name="twitter:image" content="https://picco.avris.it/banner.png">
    <meta property="og:image" content="https://picco.avris.it/banner.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            padding-top: 6.2rem;
            display: flex;
            min-height: 100vh;
            margin: 0 auto;
            flex-direction: column;
        }

        body > main {
            flex: 1;
        }

        body > footer {
            border-top: 1px solid #eee;
            margin-top: 1rem;
            padding: 1rem 0;
            font-size: 0.9rem;
        }

        body > footer > ul > li {
            float: left;
            margin: 0 0.5rem;
        }

        pre {
            padding: 0 1rem;
        }
    </style>
</head>
<body>

<?= $this->render('partial/menu', get_defined_vars()); ?>

<main class="container">
    <?php foreach ($_SESSION['flash'] ?? [] as $f): ?>
        <p class="alert alert-success"><?=$f?></p>
    <?php endforeach; $_SESSION['flash']=[]; ?>
