<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="<?= $r->get('home') ?>">
            <img src="<?=B?>logo_header.png" alt="Picco"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="<?= $r->get('home') ?>"><?=$t['documentation']?></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<?= $r->get('size') ?>"><?=$t['size']?></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<?= $r->get('itemList') ?>"><?=$t['items']?></a>
                </li>

            </ul>
            <ul class="navbar-nav ml-auto">
                <?php foreach ($locales as $l): ?>
                    <li class="nav-item <?= $l == $currentLocale ? 'active' : ''?>">
                        <a class="nav-link" href="<?= $r->get('changeLocale', [$l]) ?>"><?=$l?></a>
                    </li>
                <?php endforeach; ?>
                <li class="nav-item">
                    <a class="nav-link" href="?format=json" target="_blank">JSON</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://gitlab.com/Avris/Picco/tree/master/src" target="_blank">
                        &rarr; Source
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>